"*":
  "atom-ide-ui":
    hideNuclideWarning: true
    use:
      "atom-ide-diagnostics-ui": false
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      genAccent: true
      paintCursor: true
      predefinedColor: "Purple"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-modules":
    babelPluginModuleResolver: true
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".flowconfig"
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "github"
      "whitespace"
      "tree-view"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-material-syntax"
    ]
  editor:
    fontFamily: "Iosevka Term-Lig Medium"
    fontSize: 18
    preferredLineLength: 120
  "exception-reporting":
    userId: "0b76d67e-58ce-0bab-3cfb-1e30b634d378"
  "file-icons":
    onChanges: true
  "git-plus":
    commits:
      verboseCommits: true
    diffs: {}
    experimental:
      stageFilesBeta: false
    general:
      messageTimeout: 10
      openInPane: false
    remoteInteractions:
      pullBeforePush: true
      pullRebase: true
  "go-plus":
    test:
      runTestsWithVerboseFlag: true
  "highlight-selected":
    lightTheme: true
  "language-babel":
    createTargetDirectories: false
  linter: {}
  "linter-eslint":
    disableFSCache: true
    disableWhenNoEslintConfig: false
  "linter-ui-default": {}
  "markdown-preview":
    openPreviewInSplitPane: false
  nuclide:
    "atom-ide-diagnostics-ui": {}
    "nuclide-buck": {}
    "nuclide-clang":
      defaultDiagnostics: true
    "nuclide-debugger": {}
    "nuclide-distraction-free-mode":
      hideFindAndReplace: true
      hideStatusBar: true
    "nuclide-file-tree":
      focusEditorOnFileSelection: true
    "nuclide-flow": {}
    "nuclide-home":
      showHome: false
    "nuclide-notifications":
      onlyNativeFriendly: false
    "nuclide-terminal":
      cursorBlink: true
      cursorStyle: "underline"
    "nuclide-working-sets": {}
    use:
      "atom-ide-code-highlight": "never"
      "nuclide-adb-logcat": "never"
      "nuclide-adb-sdb": "never"
      "nuclide-blame-provider-hg": "never"
      "nuclide-buck": "never"
      "nuclide-buck-ios": "never"
      "nuclide-clang": "never"
      "nuclide-debugger-php": "never"
      "nuclide-device-panel-ios": "never"
      "nuclide-hack": "never"
      "nuclide-hg-repository": "never"
      "nuclide-hhvm": "never"
      "nuclide-infer-al": "never"
      "nuclide-ios-simulator-logs": "never"
      "nuclide-language-hack": "never"
      "nuclide-language-infer-al": "never"
      "nuclide-objc": "never"
      "nuclide-swift": "never"
  tabs:
    enableVcsColoring: true
  "tool-bar":
    iconSize: "12px"
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    tabLength: 2
".css.source.styled":
  editor:
    tabLength: 2
".js.jsx.source":
  editor:
    tabLength: 2
".languagebabel.ttlextension":
  editor:
    tabLength: 2
".reason.source":
  editor:
    preferredLineLength: 110
