"*":
  "atom-ide-ui":
    hideNuclideWarning: true
    use:
      "atom-ide-diagnostics-ui": false
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#acdd55"
      genAccent: true
      paintCursor: true
      predefinedColor: "Purple"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-modules":
    babelPluginModuleResolver: true
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".flowconfig"
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "github"
      "whitespace"
      "tree-view"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-material-syntax"
    ]
  editor:
    fontFamily: "Iosevka Medium"
    fontSize: 18
    preferredLineLength: 120
  "exception-reporting":
    userId: "0b76d67e-58ce-0bab-3cfb-1e30b634d378"
  "file-icons":
    onChanges: true
  "git-plus":
    commits:
      verboseCommits: true
    diffs: {}
    experimental:
      stageFilesBeta: false
    general:
      messageTimeout: 10
      openInPane: false
    remoteInteractions:
      pullBeforePush: true
      pullRebase: true
  "highlight-selected":
    lightTheme: true
  "language-babel":
    createTargetDirectories: false
  linter: {}
  "linter-eslint":
    disableFSCache: true
    disableWhenNoEslintConfig: false
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    openPreviewInSplitPane: false
  nuclide:
    "atom-ide-diagnostics-ui": {}
    "nuclide-buck": {}
    "nuclide-clang":
      defaultDiagnostics: true
    "nuclide-debugger": {}
    "nuclide-distraction-free-mode":
      hideFindAndReplace: true
      hideStatusBar: true
    "nuclide-file-tree":
      focusEditorOnFileSelection: true
    "nuclide-flow": {}
    "nuclide-home":
      showHome: false
    "nuclide-notifications":
      onlyNativeFriendly: false
    "nuclide-working-sets":
      workingSets: [
        {
          name: "retina"
          active: false
          uris: [
            "/home/ihanson/src/retina-server"
            "/home/ihanson/src/retina-ui"
          ]
        }
      ]
    use:
      "atom-ide-code-highlight": false
      "nuclide-adb-logcat": false
      "nuclide-adb-sdb": false
      "nuclide-blame-provider-hg": false
      "nuclide-buck": false
      "nuclide-buck-ios": false
      "nuclide-clang": false
      "nuclide-debugger-php": false
      "nuclide-device-panel-ios": false
      "nuclide-hack": false
      "nuclide-hg-repository": false
      "nuclide-hhvm": false
      "nuclide-infer-al": false
      "nuclide-ios-simulator-logs": false
      "nuclide-language-hack": false
      "nuclide-language-infer-al": false
      "nuclide-objc": false
      "nuclide-swift": false
  tabs:
    enableVcsColoring: true
  "tool-bar":
    iconSize: "12px"
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    tabLength: 2
".css.source.styled":
  editor:
    tabLength: 2
".js.jsx.source":
  editor:
    tabLength: 2
".languagebabel.ttlextension":
  editor:
    tabLength: 2
".reason.source":
  editor:
    preferredLineLength: 110
