! XFT
Xft.antialias: 1
Xft.autohint: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! ROFI
rofi.font:              Iosevka Term Medium 15
rofi.modi:              window,run,ssh,drun
rofi.width:             32
rofi.lines:             8
rofi.columns:           1
! "border width"
rofi.bw:                2
rofi.location:          0
rofi.padding:           8
rofi.yoffset:           0
rofi.xoffset:           0
rofi.fixed-num-lines:   true
rofi.terminal:          termite
rofi.run-shell-command:  {terminal} -e "zsh -ic '{cmd}'"
! "margin between rows"
rofi.line-margin:       2
! "separator style (none, dash, solid)"
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.fullscreen:        false
rofi.fake-transparency: false
! "scrolling method. (0: Page, 1: Centered)"
rofi.scroll-method:     1
! State:           'bg',   'fg',   'bgalt','hlbg', 'hlfg'
rofi.color-normal: #1c1c1c,#505050,#1c1c1c,#1c1c1c,#4d7f99
rofi.color-active: #1c1c1c,#bfbfbf,#1c1c1c,#1c1c1c,#4d7f99
rofi.color-window: #1c1c1c,#405580,#1c1c1c
rofi.display-drun: 
rofi.display-run: 

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #373b41

! red
*.color1:       #cc6666
*.color9:       #de935f

! green
*.color2:       #6ba166
*.color10:      #82bb7c

! yellow
*.color3:       #8f7942
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

