**/gtk-3.0/bookmarks
xarchiver/xarchiverrc
*.tmp
misc/.config/ranger/bookmarks
misc/.config/ranger/history
misc/.config/ranger/tagged
misc/.config/ranger/colorschemes/__pycache__/
fvwm/.fvwm/images/icons/icon.0x*
fvwm/.fvwm/.BGdefault
fvwm/.fvwm/.FvwmConsole-History
fvwm/.fvwm/icons/24x24*.png
misc/.fonts/.uuid
dconf/.config/dconf/user.txt-lock
