**/gtk-3.0/bookmarks
xarchiver/xarchiverrc
*.tmp
misc/.config/ranger/bookmarks
misc/.config/ranger/history
misc/.config/ranger/tagged
misc/.config/ranger/colorschemes/__pycache__/
fvwm/.fvwm/images/icons/icon.0x*
fvwm/.fvwm/.BGdefault
fvwm/.fvwm/.FvwmConsole-History
fvwm/.fvwm/icons/24x24*.png
misc/.fonts/.uuid
dconf/.config/dconf/user.txt-lock
fonts/.fonts/.uuid
blurt/.config/blurt/language/
sentences.corpus
theme/.local/share/onboard/models/
theme/.local/share/sddm/
theme/.local/share/keyrings/
theme/.local/share/ranger/
theme/.local/share/icons/
theme/.local/share/applications/
vim/.vim/plugged/
theme/.local/share/desktop-directories/
misc/.config/autostart/discord-stable.desktop
theme/.local/share/recently-used.xbel
