**/gtk-3.0/bookmarks
*.tmp
dconf/.config/dconf/user.txt-lock
fonts/.fonts/.uuid
misc/.config/autostart/discord-stable.desktop
misc/.config/psd/.psd.conf
misc/.config/ranger/bookmarks
misc/.config/ranger/colorschemes/__pycache__/
misc/.config/ranger/history
misc/.config/ranger/tagged
theme/.config/oomox/spotify_backup/
theme/.local/share/RecentDocuments
theme/.local/share/Trash
theme/.local/share/applications/
theme/.local/share/desktop-directories/
theme/.local/share/gsettings-data-convert
theme/.local/share/gvfs-metadata/
theme/.local/share/icons/
theme/.local/share/keyrings/
theme/.local/share/onboard/models/
theme/.local/share/ranger/
theme/.local/share/recently-used.xbel
theme/.local/share/sddm/
theme/.local/share/zathura/
vim/.vim.bak/plugged/
xarchiver/xarchiverrc
fonts/.local/share/fonts/.uuid
