! XFT
Xft.antialias: 1
Xft.autohint: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! ROFI
rofi.font:              Iosevka Term Medium 15
rofi.modi:              window,run,ssh,drun
rofi.width:             32
rofi.lines:             8
rofi.columns:           1
! "border width"
rofi.bw:                2
rofi.location:          0
rofi.padding:           8
rofi.yoffset:           0
rofi.xoffset:           0
rofi.fixed-num-lines:   true
rofi.terminal:          termite
rofi.run-shell-command:  {terminal} -e "zsh -ic '{cmd}'"
! "margin between rows"
rofi.line-margin:       2
! "separator style (none, dash, solid)"
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.fullscreen:        false
rofi.fake-transparency: false
! "scrolling method. (0: Page, 1: Centered)"
rofi.scroll-method:     1
! State:           'bg',   'fg',   'bgalt','hlbg', 'hlfg'
rofi.color-normal: #1c1c1c,#505050,#1c1c1c,#1c1c1c,#4d7f99
rofi.color-active: #1c1c1c,#bfbfbf,#1c1c1c,#1c1c1c,#4d7f99
rofi.color-window: #1c1c1c,#405580,#1c1c1c
rofi.display-drun: 
rofi.display-run: 

! special
*.foreground:   #bfbfbf
*.background:   #1c1c1c
*.cursorColor:  #bfbfbf

! black
*.color0:       #1c1c1c
*.color8:       #404040

! red
*.color1:       #995151
*.color9:       #99734d

! green
*.color2:       #408040
*.color10:      #4d9966

! yellow
*.color3:       #758040
*.color11:      #b3b359

! blue
*.color4:       #405580
*.color12:      #4d7f99

! magenta
*.color5:       #6a4080
*.color13:      #995199

! cyan
*.color6:       #408080
*.color14:      #59b3b3

! white
*.color7:       #808080
*.color15:      #bfbfbf

