[Desktop Entry]
Type=Application
Exec=mousetweaks --ssc --ssc-time=1.0 --daemonize
Hidden=false
X-MATE-Autostart-enabled=false
Name[en_US]=mousetweaks
Name=mousetweaks
Comment[en_US]=mouse accessibility
Comment=mouse acessability
