[options]
font = Press Start 2P 14
allow_bold = false
mouse_autohide = true

[colors]

# special
foreground      = #C0C0C0
foreground_bold = #C0C0C0
background      = #101010
cursor          = #A0A0A0

# black
color0  = #101010
color8  = #404040

# red
color1  = #C06060
color9  = #C09060

# green
color2  = #60C060
color10 = #60C090

# yellow
color3  = #807040
color11 = #C0C060

# blue
color4  = #6060C0
color12 = #9060C0

# magenta
color5  = #C060C0
color13 = #C06090

# cyan
color6  = #60C0C0
color14 = #6090C0

# white
color7  = #808080
color15 = #C0C0C0
