[Desktop Entry]
NoDisplay=false
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=chrome "%s"
Icon=chrome
Name=Chrome
X-XFCE-Commands=chrome

