[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=outlook "%s"
Icon=outlook
Name=outlook
X-XFCE-Commands=outlook

