[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=/usr/local/bin/outlook "%s"
Icon=outlook
Name=outlook
X-XFCE-Commands=/usr/local/bin/outlook

